/* #wrapper{ 
  margin: 40px auto 0;  
  width:532px; 
  position:relative;
  top: -25px;
}

#wheel{
  width:500px;
  height:500px;
  border-radius:50%;  
  position:relative;
  overflow:hidden;
  z-index: 999;
}

#div-center {
    position: relative;
    z-index: 999;
    top: -500px;
    left: 15px;
}

.center-image-style {
    width: 350px;
    height: 450px;
    position: absolute;
    top: -95px;
    left: 47px;
}

#inner-wheel{
  width:100%;
  height:100%;
  position:relative;
  left: -27px;
  top: -20px;
  -webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
  -moz-transition:    all 6 cubic-bezier(0,.99,.44,.99);
  -o-transition:      all 6s cubic-bezier(0,.99,.44,.99);
  -ms-transition:     all 6s cubic-bezier(0,.99,.44,.99);
  transition:         all 6s cubic-bezier(0,.99,.44,.99); 
}

#wheel div.sec{
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 272px 75px 0;
  border-color: transparent; 
  transform-origin: 75px 271px;
  left: 175px;
  top: -22px; 
  opacity:1;
}
 
#wheel div.sec:nth-child(1){
  transform: rotate(30deg); 
  -webkit-transform: rotate(30deg);
}
#wheel div.sec:nth-child(1) .fa{
  transform: rotate(-30deg); 
  -webkit-transform: rotate(-30deg);
}
#wheel div.sec:nth-child(2){
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

#wheel div.sec:nth-child(2) .fa{
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}

#wheel div.sec:nth-child(3){
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

#wheel div.sec:nth-child(3) .fa{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

#wheel div.sec:nth-child(4){
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
#wheel div.sec:nth-child(4) .fa{
  transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
}

#wheel div.sec:nth-child(5){
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
}

#wheel div.sec:nth-child(5) .fa{
  transform: rotate(-150deg);
  -webkit-transform: rotate(-150deg);
}

#wheel div.sec:nth-child(6){
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
#wheel div.sec:nth-child(6) .fa{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
#wheel div.sec:nth-child(7){
  transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
}

#wheel div.sec:nth-child(7) .fa{
  transform: rotate(-210deg);
  -webkit-transform: rotate(-210deg);
}
#wheel div.sec:nth-child(8){
  transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
}

#wheel div.sec:nth-child(8) .fa{
  transform: rotate(-240deg);
  -webkit-transform: rotate(-240deg);
}
#wheel div.sec:nth-child(9){
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

#wheel div.sec:nth-child(9) .fa{
  transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
}
#wheel div.sec:nth-child(10){
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
}

#wheel div.sec:nth-child(10) .fa{
  transform: rotate(-300deg);
  -webkit-transform: rotate(-300deg);
}

#wheel div.sec:nth-child(11){
  transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
}

#wheel div.sec:nth-child(11) .fa{
  transform: rotate(-330deg);
  -webkit-transform: rotate(-330deg);
}

#wheel div.sec:nth-child(12){
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

#wheel div.sec:nth-child(12) .fa{
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
} 

#wheel div.sec .fa{
  margin-top: -175px;
  position: relative;
  z-index: 10000000;
  display: block;
  text-align: center;
  font-size:36px;
  margin-left:-30px; 
  top:-20px; 
}

img.fa.image-style {
    border-radius: 50%;
    z-index: 999;
    width: 60px;
    height: 60px;
} */