/* =======================================================================
Kane - Responsive App Landing Page 1.7
======================================================================= */

/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #313131;
    line-height: 28px;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
}

/*New PHP Style Start  */
#logo-image-style{
     width:150px; 
     height:100px;
}
.category-card-style{
    background-color: floralwhite;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.category-image{
    width:100%;
    height: 150px;
    margin: 0px auto;
}
.carousel-image {
    background:
              linear-gradient(
      rgba(0, 0, 0, 0.55), 
      rgba(0, 0, 0, 0.55)
    ), 
    url('../images/bg-1.jpg');
    
}
.carousel-row-style{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.card-image-style1{
    width: 100%;
    height: 200px;
}
.card-col-style-1{
    padding:0px; 
    background: aliceblue; 
    width: 28%;
    margin: 33px;
}

.header-card-style-1{
    background-color: floralwhite;
    width: 100%;
    margin: auto;
}
.header-card-block-style-1{
    font-family: monospace;
    font-size: smaller;
}

.card-col-style{
    padding:0px; 
    background: aliceblue; 
    width: 20%;
    margin:33px;
    display: inline-block;
}
.header-card-style{
    padding: 15px !important;
    background-color: floralwhite;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-card-block-style{
    font-family: monospace;
    font-size: smaller;
}

.card-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}
.carousel-image-style{
    width: 100%;
    height:400px;
    margin: 0px auto;
} 
.card-block-size-style{
    width: 20% !important;
    margin: 0px auto;
}

.read-more-button{
    height: 20px;
    font-size: 10px;
    float: right;
    border-radius: 0px;
    padding-top: 2px;
}
#navbar-header-style{
    margin-top: 30px;`
}
#modal-result{
    display: none;
}

img.center-ray-image-style {
    position: absolute;
    top: 20px;
    left: -110px;
    z-index: 5;
    width: 100%;
    height: 501px;
}
.button-horoscope-style{
    margin: auto;
    margin-top: 20px;
    width: 30%;
    background-color: #FFA500 !important; 
    color: aliceblue;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 50px; 
    border: none;
    height: 50px;
}
#row-horoscope-style{
    position: relative;
    top: -70px;
}
#response-message{
    text-align: center; 
    color: red;
    padding: 15px;
    font-weight: 500;
    display: none;
}

#response-message{
    text-align: center; 
    color: red;
    padding: 15px;
    font-weight: 500;
    display: none;
}
#category-response-message{
    text-align: center; 
    color: red;
    padding: 15px;
    font-weight: 500;
    display: none;
}
#horoscope-response-message{
    text-align: center; 
    color: red;
    padding: 15px;
    font-weight: 500;
    display: none;
}
#card-background{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 30%;
    background: chocolate;
    color: aliceblue;
    height: 142px;
    display: inline-block;
}
#why-be-best{
    padding: 0px;
    margin: 0px;
    border-radius: 36px;
    margin-bottom: 5px;  
}
#why-be-best-p{
    background: coral;
    margin: 5px !important;
    padding: 0px;
    padding-left: 10px;
    color: #f2f2f2;

}


.loader {
  display: none;
  position: absolute;
  top: 115px;
  left: 460px;
  z-index: 999990;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#login-button{
    background: #FFA500;
    border-radius: 2px;
    min-width: 60px;
    border: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    padding: 7px 14px;
}
.modal-title-style{
    font-weight: 500;
    font-size: x-large;
    padding-top: 10px;
}
#facebook-login-colon{
    padding-top:120px; 
}
#register-form-group{
    width:100%; 
    margin-top:0px;
}
#register-form-display{
    display: none;
}
#register-form-group-button{
    width:100%; 
    margin-top:0px;
    display: none;
}
#login-button-style{
    position: relative;
    width: 80%;
    left: 150px;
    padding: 10px 0;
    margin-top: 54px;
    background: #FFA500;
    border-radius: 2px;
    min-width: 60px;
    border: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;  
}
#register-button-style{
    position: relative;
    width: 80%;
    left: 150px;
    padding: 10px 0;
    margin-top: 54px;
    background: #FFA500;
    border-radius: 2px;
    min-width: 60px;
    border: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;  
}
#social-login-button-facebook{
    background: #3b5998;
    border: 1px solid #607ecb;
    margin-bottom: 18px;
    background-size: 8px auto;
    color: #f2f2f2;
    width: 250px;
    font-size: 14px;
    border-radius: 2px;
    padding: 7px 42px 7px 54px;
    font-weight: bolder;    
}
#social-login-button-google{
    background: red;
    border: 1px solid #e24545;
    margin-bottom: 18px;
    background-size: 8px auto;
    color: #ffffff;
    width: 250px;
    font-size: 14px;
    border-radius: 2px;
    padding: 7px 42px 7px 54px;
    font-weight: bolder;
}
input[type=text], input[type=password], input[type=date] {
    font-size: 12px;
    letter-spacing: 0;
    padding: 0 12px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 16px;
    padding: 0 12px;
    color: #7a7a79;
    border: none;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    border-color: #e69292;
}

.forgot-password{
    font-size: small;
    position: relative;
    top: -15px;
    left: 70px;
}
.select-button-login-signup{
    padding-top: 40px;
    padding-left: 0px;
}
.ul-class {
    height: 50px;
}
#login-a-style {
    border-bottom: 3px solid darkolivegreen;
    color: brown;
    padding-bottom: 2px;
}

#login-a-style:hover, #login-a-style:active, #login-a-style:visited, #login-a-style:link{
    border-bottom: 3px solid darkolivegreen;
    color: brown;
    padding-bottom: 2px;
}
#register-a-style {
    color: brown;
    padding-bottom: 2px;
}

#register-a-style:hover, #register-a-style:active, #register-a-style:visited, #register-a-style:link {
    border-bottom: 3px solid darkolivegreen;
    color: brown;
    padding-bottom: 2px;
}
.li-class-first{
    width: 40%;
    float: left;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    opacity: .6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro,SansSerif,Helvetica;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    outline: none;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #5c5c5c;
    line-height: 1.8;
    font-weight: 600;
}
.li-class-second{
    width: 40%;
    position: relative;
    left: -60px;
    top: -2px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    opacity: .6;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Source Sans Pro,SansSerif,Helvetica;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    outline: none;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #5c5c5c;
    line-height: 1.8;
    font-weight: 600;
}

#login-success{
    display: none;
    text-align: center; 
    color: red; 
    padding: 10px;
}
#login-failed{
    display: none;
    text-align: center; 
    color: red; 
    padding: 10px;
}

/*New PHP Style End  */

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}


/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}


/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    margin: -20px 0 0 -20px;
}

/*---------------------------------------
   Typography                
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Laned41d.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
 
    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

/*---------------------------------------
   CUSTOM BUTTON              
-----------------------------------------*/

.standard-button,
.standard-button2 {
    font-size: 18px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #FFFFFF;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

.standard-button:hover,
.standard-button2:hover {
    border: none;
}

.standard-button i,
.standard-button2 i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}


/*---------------------------------------
   TEXTS               
-----------------------------------------*/

.white-text {
    color: #ffffff;
}

.dark-text {
    color: #272727;
}

.grey-bg {
    background: #F7F8FA !important;
}


/*---------------------------------------
   SECTIONS          
-----------------------------------------*/

.section-header {
    padding-bottom: 78px;
}

.section-header h2 {
    margin-bottom: 20px;
}

.section-header .section-description {
    display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---------------------------------------
   LINES          
-----------------------------------------*/

.colored-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
}

.white-line {
    margin: auto;
    z-index: 1;
    width: 165px;
    height: 1px;
    background: #ffffff;
}

.colored-line-left {
    float: left;
    z-index: 1;
    display: block;
    width: 165px;
    height: 1px;
}

/*---------------------------------------
=========================================
 **   SECTION STYLES                
=========================================
-----------------------------------------*/

/*---------------------------------------
   SECTION:  HOME                 
-----------------------------------------*/

header {
    background: url(../images/bg-1.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
            background-size: cover;
}

header .color-overlay {
    min-height: 900px;
}

header .full-screen {
    width: 100%;
    height: 100px;
}

/* TOP BAR WITH NAVIGATION */

.sticky-navigation {
  min-height: 60px;
  background: #FFFFFF;
  border: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.sticky-navigation .navbar-header img {
  max-height: 30px;
  -webkit-backface-visibility: hidden;
}

.sticky-navigation .main-navigation .current a {
  color: #000000 !important;
  position: relative;
  outline: none;
}

.sticky-navigation .main-navigation li a {
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.sticky-navigation .main-navigation li a:hover {
    color: #000000;
}

.navbar-inverse .navbar-toggle {
    border-color: darkgoldenrod;
    background: darkgoldenrod;
}

header .only-logo .navbar {
    background: none;
    padding: 60px;
}
.navbar-toggle {
    margin-right: 20px !important;
}
header .only-logo .navbar .navbar-header {
    float: none;
}

/* INTRO */

header .home-contents {
    margin-top: 5%;
}

header .intro-section {
    text-align: left;
}

header .intro-section .standard-button {
    margin: 0;
    margin-bottom: 8px;
}

header .phone-image {
    max-width: 350px;
    margin: auto;
    margin-bottom: 50px;
}

header .phone-image img {
    width: 100%;
}

header .intro-section .intro {
    color: #ffffff;
    margin-bottom: 36px;
}

header .intro-section h5 {
    color: #ffffff;
}

header .intro-section .buttons {
    margin-top: 35px;
}

/*---------------------------------------
   SECTION:  FEATURES                 
-----------------------------------------*/

.features {
    padding-top: 80px;
    padding-bottom: 30px;
    background: #ffffff;
}

.features .features-left {
    text-align: right;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-left .icon-container {
    float: right;
    margin-left: 20px;
}

.features .features-right {
    text-align: left;
    margin-top: 26px;
    margin-bottom: 80px;
}

.features .features-right .icon-container {
    float: left;
    margin-right: 20px;
}

.features .feature {
    margin-bottom: 40px;
}

.features .feature .icon-container {
    display: block;
    min-height: 120px;
    margin-top: 5px;
}

.features .feature .icon-container .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all ease-in 0.25s;
            transition: all ease-in 0.25s;
    -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
            background-clip: padding-box;
}

.features .phone-image {
    max-width: 250px;
    margin: auto;
    margin-bottom: 80px;
}

.features .phone-image img {
    width: 100%;
}


/*---------------------------------------
   SECTION:  BRIEF                 
-----------------------------------------*/

.app-brief {
    padding-top: 110px;
    padding-bottom: 60px;
}

.app-brief h2 {
    margin-bottom: 20px;
}

.app-brief .phone-image {
    max-width: 350px;
    margin: auto;
    margin-bottom: 50px;
}

.app-brief .phone-image img {
    width: 70%;
}

.app-brief .left-align {
    text-align: left;
    margin-bottom: 50px;
}

.app-brief .left-align p {
    display: block;
    float: none;
    margin-top: 50px;
}

.app-brief .left-align .feature-list {
    margin-top: 40px;
}

.app-brief .left-align .feature-list li {
    margin-bottom: 26px;
}

.app-brief .left-align .feature-list li i {
    margin-right: 10px;
    vertical-align: inherit;
}


/* VIDEO */

video {
    max-width: 100%;
    height: auto;
}

iframe,
embed,
object {
    max-width: 100%;
}

.video-container {
    width: 90%;
    background: transparent !important;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 40px; 
}

.video {
    background: transparent !important;
}


/*---------------------------------------
   SECTION:  TESTIMONIALS                 
-----------------------------------------*/
.testimonials {
    background: url(../images/bg-2.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
            background-size: cover;
    color: #ffffff;
}

.testimonials .color-overlay {
    padding-top: 110px;
    padding-bottom: 110px;
}

.testimonials .feedback {
    max-width: 750px;
    margin: auto;
}

.testimonials .feedback .image {
    font-size: 24px;
    border: 2px solid transparent;
    -webkit-box-shadow: 0px 0px 0px 2px #ffffff;
            box-shadow: 0px 0px 0px 2px #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: auto;
    margin-top: 5px;
    overflow: hidden;
}

.testimonials .feedback .image img {
    width: 100%;
    vertical-align: top;
}

.testimonials .feedback .message {
    font-size: 18px;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 30px;
}

.testimonials .feedback .name {
    margin-top: 15px;
    font-weight: 400;
}

.testimonials .feedback .company-info {
    font-size: 12px;
}

.testimonials .owl-theme .owl-controls .owl-page span {
    background: #ffffff;
    border-radius: 50%;
}

.testimonials .customNavigation a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*---------------------------------------
   SECTION:  SERVICES           
-----------------------------------------*/

.services {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #ffffff;
}

.services .single-service {
    padding-bottom: 60px;
}

.services .single-service .service-icon {
    font-size: 80px;
}

.services .single-service h3 {
    margin-top: 20px;
}



/*---------------------------------------
   SECTION:  SCREENSHOTS 
-----------------------------------------*/

.screenshots {
    padding-top: 80px;
    padding-bottom: 120px;
}

.screenshots .shot {
    background: #FFFFFF;
    padding: 10px;
    margin: 13px;
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
}

.screenshots .shot img {
    border-radius: 4px;
    width: 100%;
}

/*---------------------------------------
   SECTION:  PACKAGES | Added on version 1.7      
-----------------------------------------*/

.packages {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #ffffff;
}

.single-package {
    background: #F7F8FA;
    overflow: auto;
    border: 0px solid #161616;
    border-radius: 3px;
    margin-bottom: 60px;
}

.single-package .price {
    background: #FFFFFF;

}
.single-package .color-bg {
    background-color: !important;
}
.single-package .price h2 {
    color: #272727;
}

.single-package .price .color-bg h2 {
    color: #FFFFFF !important;
} 

.single-package .price .sign {
    vertical-align: super;
    font-size: 20px;
}

.single-package .price .month {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.single-package .package-feature {
  margin-top: 25px;
  margin-bottom: 25px;
}

.single-package .package-feature > li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.single-package .package-feature > li > span {
  margin-right: 7px;
}


/*---------------------------------------
   SECTION:  DOWNLOAD                 
-----------------------------------------*/

.download {
    background: url('../images/bg-3.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
            background-size: cover;
    color: #ffffff;
}

.download .color-overlay {
    padding-top: 110px;
    padding-bottom: 70px;
}

.download .download-container {
    padding-bottom: 80px;
}

.download .subscription-form-container {
    padding-bottom: 80px;
}

.download .subscription-form .input-box {
    height: 57px;
    padding-left: 20px;
    width: 320px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #FFF;
    border: 2px solid #FFF;
}

.download .subscription-form .input-box:focus, 
.download .subscription-form .input-box:active {
    color: #000;
    font-weight: 400;
}

.download .subscription-form .subscription-success,
.download .subscription-form .subscription-error {
    display: none;
}

.download h2 {
    margin-bottom: 30px;
}

/*---------------------------------------
   SECTION:  FOOTER                
-----------------------------------------*/

footer .contact-box {
    margin-bottom: 78px;
}

footer .contact-box .contact-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    font-size: 30px;
    line-height: 60px;
    vertical-align: middle;
    margin-top: -40px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 0px 3px #ffffff;
            box-shadow: 0px 0px 0px 3px #ffffff;
    -webkit-backface-visibility: hidden;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

footer .contact-box .contact-button:hover {
    color: #ffffff;
}

footer .contact-box .expanded-contact-form {
    margin-top: 40px;
    display: none;
}

footer .contact-box .expanded-contact-form .success,
footer .contact-box .expanded-contact-form .error {
    display: none;
}
.invalid{
    display:none;
}

footer .contact-box .expanded-contact-form .input-box {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

footer .contact-box .expanded-contact-form .textarea-box {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

footer .contact-box .expanded-contact-form .textarea-box:active {
    color: #000;
}

footer .social-icons {
    margin-top: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 50px;
}

footer .social-icons li {
    display: inline-block;
    margin: 5px;
}

footer .social-icons li a {
    font-size: 30px;
    color: #c2c2c2;
}

footer .copyright {
    color: #808080;
    padding-top: 10px;
    margin-bottom: 50px;
}

/* Responsive Media query */

@media only screen and (max-width:1125px){
    .card-col-style-1{
        width: 28% !important;
        margin: 25px !important;
        display: inline-block;
    }
}
@media only screen and (max-width: 992px){
    .card-col-style-1 {
        width: 28% !important;
        margin: 20px !important;
        display: inline-block;
    }
}
@media only screen and (max-width: 992px){
    .card-col-style-1 {
        width: 42% !important;
        margin: 20px !important;
        display: inline-block;
    }
}
@media only screen and (max-width: 992px){
    .card-col-style-1 {
        width: 80% !important;
        margin: 20px !important;
        display: inline-block;
    }
}
@media only screen and (max-width:872px){
    .card-col-style {
        width: 28%;
        display: inline-block;
    }
}
@media only screen and (max-width:812px){
    .card-col-style {
        width: 40%;
        display: inline-block;
    }
    .card-col-style-1 {
        width: 40% !important;
        display: inline-block;
    }
}
@media only screen and (min-width: 1126px){
    .card-col-style {
        margin: 33px !important;
    }
}

@media only screen and (min-width: 1096px) and (max-width: 1125px){
    .card-col-style {
        margin: 26px !important;
    }
}
@media only screen and (min-width: 720px) and (max-width: 1095px){
    .card-col-style {
        margin: 20px !important;
    }
    #card-background{
        width: 100% !important;
    }
}

